<div [formGroup]="formGroup" (submit)="onSubmit()">
    <mat- *ngFor="let field of fields">
        <ng-container [ngSwitch]="field.type">

            <mat-form-field *ngSwitchCase="'text'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <input matInput [formControlName]="field.key" />
                <mat-error *ngIf="field.validators && !field.value"></mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'number'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <input matInput [formControlName]="field.key" type="number" />
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'email'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <input matInput [formControlName]="field.key" type="email" />
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'date'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="field.key" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'select'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <mat-select [formControlName]="field.key">
                    <mat-option *ngFor="let option of field.options" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'radio'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <mat-radio-group [formControlName]="field.key">
                    <mat-radio-button *ngFor="let option of field.options" [value]="option.value">
                        {{option.label}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-form-field>

            <div *ngSwitchCase="'checkbox'" class="checkbox-container">
                <mat-checkbox [formControlName]="field.key">
                    {{field.label}}
                </mat-checkbox>
            </div>

            <mat-form-field *ngSwitchCase="'phone'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <input matInput [formControlName]="field.key" type="tel" />
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'textarea'" appearance="outline">    
                <mat-label>{{field.label}}</mat-label>    
                <textarea matInput [formControlName]="field.key" ></textarea>
            </mat-form-field>
            
            <mat-form-field *ngSwitchCase="'password'" appearance="outline">
                <mat-label>{{field.label}}</mat-label>
                <input matInput [formControlName]="field.key" type="password" />
            </mat-form-field>

            <div *ngSwitchCase="'file_upload'" class="file-upload-container">
                <label>{{field.label}}</label>
                <input type="file" [formControlName]="field.key" />
            </div>

            
        </ng-container>

    </mat->
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Send</button>
</div>