<div class="container">
    <form action="" [formGroup]="fpForm" *ngIf="!showHasSendEmail()">
        <p>Enter your email and we'll send you a link to reset your password</p>



        <div>
            <mat-form-field appearance="outline">

                <mat-label> Email address</mat-label>
    
                <input matInput formControlName="email" placeholder="Enter your email" type="text"/>
    
                <span matSuffix>
                    <i class="fa-solid fa-envelope" matSuffix></i>
                </span>

                <mat-error *ngIf="fpForm.controls['email'].invalid && fpForm.controls['email'].touched">
                    <span *ngIf="fpForm.controls['email'].errors?.['required']">Email is required</span>
                    <span *ngIf="fpForm.controls['email'].errors?.['email']">Invalid email address</span>
                </mat-error>
    
            </mat-form-field>
        </div>

        <div>

            <button mat-raised-button color="primary" [disabled]="fpForm.invalid" (click)="openHasSendEmail()">Send link to email</button>
    
        </div>

    </form>

    <div *ngIf="showHasSendEmail()">
        
        <div class="title-send-mail">
            <div>
                <i class="fa-solid fa-check"></i>
            </div>
            <h3>Email sent</h3>
        </div>

        <p>We have sent you an email with a link to reset your password. 
           If you don't see the email, please check your spam folder.
           Please check your inbox and follow the instructions in the email.
        </p>
    </div>

</div>